:root {
  --students: 12;
  --classes: 20;
  --bg: #282c34
}

.App {
  text-align: center;
}

.logo {
  height: 5vmin;
  pointer-events: none;
}

.header {
  background: linear-gradient(var(--bg), 80%, dodgerblue);
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}
.flex {
  display: flex;
  align-items: center;
}
.flex > a {
  padding: 1px 8px;
  color: white;
}

header span:first-of-type {
  margin: 0 auto 0 1rem;
}

.active {
  outline: 1px solid white;
}

.grid > output {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid > .present {
  background-color: rgb(172, 251, 201);
}
.grid > .absent {
  background-color: rgb(245, 191, 202);
}
.grid > .future {
  background-color: rgb(250, 250, 250, 0.5);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr)); /* var(--students) */
  grid-template-rows: repeat(var(--classes), min-content);
  background-color: var(--bg);
  gap: 2px;
  grid-auto-flow: dense;
  border: 1px solid black;
}
.grid > * {
  padding: 4px;
  background-color: white;
  transition: all .2s;
}
.grid > *:hover {
  transform: scale(1.2);
  outline: 1px solid black;
  transition: transform .2s;
}
.grid > div {
  grid-column: 1 / span 1;
  font-size: 14px;
}
.grid > h3 {
  grid-row: 1 / span 1;
  margin: 0;
}
.grid > h3 .email {
  visibility: hidden;
  font-size: 10px;
}
.grid > h3:hover .email {
  visibility: visible;
}
.grid > span {
  font-size: 10px;
}
.grid > .placeholder {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: silver;
  color: white;
  font-size: 16px;
}

.link {
  color: #b318f0;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
  /* animation: logo-spin infinite 20s linear; */
